body {
background: linear-gradient(#749bfc, #749bfc, #749bfc, #a6f7f6, white);
color: floralwhite;
  font-family: "DM sans", sans-serif;
z-index: 1;
    margin:20px;
    overflow: hidden;
}


.tree {
    height:100%;
    position:absolute;
    bottom:0px;
    right:0px;
    z-index: -1;
}

.footer {
    
    position:absolute;
    bottom:0px;
    left:0px;
/*    border-style: dotted;*/
    color:749bfc;
/*    margin:20px;*/
    padding:20px;
/*    padding-top: 3px;*/
/*    padding-bottom:3px;*/
/*    border-radius: 10px;*/
    
}
h1 {
font-size: 54px;
padding-left: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
}


.sitebox {
    float:left;
    width:100px;
    height:130px;
    border-radius: 10px;
    border-style: dashed;
    padding: 10px;
    margin: 10px;
    transition-duration: .41s;
}

.sitebox:hover {
 transform: scale(1.1);   
    
}

.leafwrapper {
    animation: yaxis 3s infinite;
    animation-timing-function: ease-in-out
        z-index: -10;
    position:absolute;
}

.leaf {
    z-index: -10;  
    animation: xaxis 2.5s infinite ease-in;
  
}

@keyframes xaxis {
    0% {
        transform: translateX(100vw)
    }
    
    100% {
        transform: translateX(0vw)
    }
}

@keyframes yaxis {
    0% {
        transform: translateY(0vh)
    }
    
    50% {
        transform: translateY(100vh)
    }
    
    100% {
        transform: translateY(0vh)
    }
}







.icon {
    max-height: 100px;
    margin-bottom: 10px
}

a:link {
  color: floralwhite;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: floralwhite;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: floralwhite;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: floralwhite;
  background-color: transparent;
  text-decoration: underline;
}
.bonuspad {
    padding-left: 20px;
}
p {
    padding-left: 12px;
}